.filter-select select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 1px solid #000;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	cursor: pointer;
}
.filter-select:after {
	font-family: 'FontAwesome';
  content: '\f107';
  margin: 0 5px 0 -25px;
}
